* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  
  background-image: url(../img/bgmiku.jpg);
  background-attachment: fixed; 
  background-size: 100%;
  background-repeat: repeat;
 /* background-attachment: scroll; */
  font-family: "Noto Sans TC", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}
.menu{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #550a47;
	height:40px;
}
/* 一级菜单 */
.menu ul {
  background-color: #fff;
  text-align: center;
}
/* 二级菜单 */
.menu ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #550a47;
}
.menu ul li ul li {
  width: 100%;
}
/* 三级菜单 */
.menu ul li ul li ul {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #550a47;
}
.menu li {
  width: 20%;
  float: left;
  position: relative;
}
/* 设置超链接 指针悬浮样式 */

/* 鼠标未选中时候的颜色 */
.menu li:hover > a {
  background-color: #550a47;
}
/* 超链接字体颜色 */
.menu li a {
  display: block;
  color: #ffffff;
  line-height: 40px;
}
/* 鼠标选中的时候 */
.menu li a:hover {
  background-color: #FF1493;
  border-radius: 10px;
}
.menu li a:hover + ul {
  display: block;
}
.menu li ul:hover {
  display: block;
}



.wrap {
  width: 90%;
  margin: 10px auto;
  background-color: rgb(255, 255, 255,80%) ;
}

h1 {
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  font-size: 30px;
}

.text {
  font-weight: 500;
  padding: 15px;
  color: #000000;
}

h2 {
  color: #f0f0f0;
  text-align: center;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  font-size: 20px;
}

p {
  padding-top: 10px;
  line-height: 1.8;
  font-weight: 300;
  color: #f0f0f0;
}

.timeline {
  padding-top: 5%;
}
.timeline a {
  display: block;
  background-color: #550a47;
  border: 2px solid #fff;
  padding: 20px;
  box-shadow: 0 0 5px #ffaaff;
  border-radius: 10px;
  transition: all 0.5s;
}
/* 选中后 */
.timeline a:hover {
  background-color: #000000;
}
/* 连线参数 */
.timeline h2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100px;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  margin: auto;
}
.timeline li {
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  width: 50%;
  position: relative;
}
.timeline li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}
.timeline li:nth-child(odd) {
  float: left;
  padding-right: 100px;
}
.timeline li:nth-child(odd) h2::after {
  right: 0;
}
.timeline li:nth-child(odd)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ffffff;
}
.timeline li:nth-child(odd)::before {
  right: -10px;
}
.timeline li:nth-child(even) {
  float: right;
  padding-left: 100px;
  transform: translateY(50%);
}
.timeline li:nth-child(even) h2::after {
  left: 0;
}
.timeline li:nth-child(even):last-child {
  height: 50%;
}
.timeline li:nth-child(even)::before {
  left: -10px;
}
.foot{
	margin-top: 1900px;
	padding-top: 20px;
	width: auto;
	height: 60px;
	background-color: #550A47;
}
h6{
	text-align: center;
	font-size: 10px;
	color: #F0F0F0;
}