* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  
  background-image: url(../img/bgmiku.jpg);
  background-attachment: fixed; 
  background-size: 100%;
  background-repeat: repeat;
 /* background-attachment: scroll; */
  font-family: "Noto Sans TC", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}
.menu{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #550a47;
	height:40px;
}
/* 一级菜单 */
.menu ul {
  background-color: #fff;
  text-align: center;
}
/* 二级菜单 */
.menu ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #550a47;
}
.menu ul li ul li {
  width: 100%;
}
/* 三级菜单 */
.menu ul li ul li ul {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #550a47;
}
.menu li {
  width: 20%;
  float: left;
  position: relative;
}
/* 设置超链接 指针悬浮样式 */

/* 鼠标未选中时候的颜色 */
.menu li:hover > a {
  background-color: #550a47;
}
/* 超链接字体颜色 */
.menu li a {
  display: block;
  color: #ffffff;
  line-height: 40px;
}
/* 鼠标选中的时候 */
.menu li a:hover {
  background-color: #FF1493;
  border-radius: 10px;
}
.menu li a:hover + ul {
  display: block;
}
.menu li ul:hover {
  display: block;
}



.wrap {
  width: 90%;
  margin: 10px auto;
  background-color: rgb(255, 255, 255,50%) ;
}

h1 {
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  font-size: 30px;
}

.text {
  font-weight: 500;
  padding: 15px;
  color: #000000;
}

h2 {
  color: #4f4f4f;
  text-align: center;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  font-size: 20px;
}

p {
  padding-top: 10px;
  line-height: 1.8;
  font-weight: 300;
  color: #333;
}
.main{
	background-color:rgb(255,255,255,80%);
	margin-top: 20px;
	margin-left: 60px;
	float: left;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 2px #ffb2e7;
}
.main h1{
	font-size: 20px;
	font-family: "黑体";
	text-align: left;
}
.main table{
	width: 1200px;
	height: auto;
	float: left;
	text-align: center;
	border: #F0F0F0 3px;
	line-height: 30px;
}
img{
	width: 100px;
	height: auto;
}

.foot{
	margin-top: 540px;
	padding-top: 20px;
	width: auto;
	height: 60px;
	background-color: #550A47;
}
h6{
	text-align: center;
	font-size: 10px;
	color: #F0F0F0;
}